<footer>
   <div class="central">
    <br>
    <a href="https://www.google.ro/maps/place/Strada+Socrate+2,+Timi%C8%99oara/@45.7504982,21.2377269,17z/data=!4m5!3m4!1s0x47455d887e9f1107:0x194ed7682bc831ca!8m2!3d45.750479!4d21.2398339" target="_blank">
      <i class="material-icons pos">near_me</i> Complexul Studen&#355;esc, str. Socrate, nr. 2
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="tel:0040774476791">
      <i class="material-icons">smartphone</i> +40 774 476 791 
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    <a href="tel:0250263828">
      <i class="material-icons">phone</i> &nbsp;&nbsp;0250 263 828  
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="mailto:flavia_pela@yahoo.com"> 
      <i class="material-icons">mail_outline</i> &nbsp;support@funcing.com 
    </a>

   <p class="pos"> <a href="https://www.urbandictionary.com/define.php?term=funcing" target="_blank" title="definition" style="text-decoration: none"><i class="material-icons pos">label_important</i></a> &nbsp;by Lazin Alexandra, Pela Flavia</p></div>
</footer>