<br>
<div class="homepic1"></div>

<div>
  <br><br>
  <h1 class="htitle"> WHAT? </h1>
  <p class="pcontent">
    &nbsp;&nbsp;Fencing is a group of three related combat sports. The three disciplines in modern fencing are the foil, the épée, and the sabre (also saber); winning points are made through the weapon's contact with an opponent. A fourth discipline, singlestick, appeared in the 1904 Olympics but was dropped after that, and is not a part of modern fencing. Most competitive fencers choose to specialize in one weapon only. <br>&nbsp;&nbsp; Fencing was one of the first sports to be played in the Olympics.
    Competitive fencing is one of the five activities which have been featured in every modern Olympic Games, the other four being athletics, cycling, swimming, and gymnastics.
  </p>
  <br>
  <h1 class="htitle"> WHEN? </h1>
  <p class="pcontent"> 
    &nbsp;&nbsp; Based on the traditional skills of swordsmanship, the modern sport arose at the end of the 19th century, with the Italian school having modified the historical European martial art of classical fencing, and the French school later refining the Italian system. 
  </p><br><br>
  <div class="homepic3"></div>
  <br>
  <h1 class="htitle"> WHO? </h1>
  <p class="pcontent"> 
    <a href="https://fie.org/athletes/22439"><b>KONG Man Wai Vivian</b></a> is at number one in the FIE women's Epee ranking. She is a 25 year old left-handed athlete from Hong Kong, China, who started fencing at the age of 11. Her coach is Octavian Petru Zidaru, from Romania.<br><br>
    <a href="https://fie.org/athletes/5629"><b>POPESCU Ana Maria</b></a> is ranked third in the same clategory. She was ranked first between 2007-2009, and then again in 2012/2013. She is a 35 year old athlete from Romania, who started fencing in 1996.<br><br>
    You can see all the rankings <a href="https://fie.org/athletes"><u>here</u></a><br>
  </p>
  <br><br>

</div>